* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px;
}

body {
    background: linear-gradient(90deg, #da8484, #362323);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    font-family: "leckerli one";
    margin-bottom: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "leckerli one";
}

.about-me {
    font-family: sour gummy;
}

.unordered-list {
    padding-left: 1rem;
}


div {}